<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.OrderDetailsMapper">


    <insert id="insertBatch">
        insert into order_detail
        (
        name,
        image,
        order_id,
        dish_id,
        setmeal_id,
        dish_flavor,
        number,
        amount
        )
        values
        <foreach collection="orderDetailList"
                 item="orderDetail"
                 separator=",">
            (
            #{orderDetail.name},
            #{orderDetail.image},
            #{orderDetail.orderId},
            #{orderDetail.dishId},
            #{orderDetail.setmealId},
            #{orderDetail.dishFlavor},
            #{orderDetail.number},
            #{orderDetail.amount}
            )
        </foreach>
    </insert>
    <select id="selectAllDetails" resultType="com.sky.entity.OrderDetail">
        select id, name, image, order_id, dish_id, setmeal_id, dish_flavor, number, amount from order_detail
        where order_id in
        <foreach collection="orderIdList" item="orderId" separator="," open="(" close=")">
            #{orderId}
        </foreach>
    </select>
    <select id="selectTopByDate" resultType="com.sky.dto.GoodsSalesDTO">
        select
        d.name,
        sum(d.number) number
        from order_detail d
        join orders o
        on d.order_id = o.id
        where o.order_time &gt;= #{beginDate}
        and o.order_time &lt; #{endDate}
        and o.status = #{status}
        group by d.name
        order by number desc
        limit 10
    </select>

</mapper>
